.main-nav {
    width: 20vw;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    position: sticky;
    top:0;
    height: 100vh;
}

.link-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}